* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fbfbfd;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding: 2.5px;
}

header a, header a:hover {
    color: #f5f5f7;
    align-self: center;
}

.central-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

footer {
    display: flex;
    position: absolute;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    padding-left: 10px;
}

footer p {
    color: #86868B;
}

footer hr {
    color: #86868B;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

input, textarea, input:focus, textarea:focus {
    text-align: center;
    border: 0;
    background-color: #fbfbfd;
    margin-top: 15px;
    outline: none;
}

.form-button, .form-button:focus {
    margin: 0 10px;
    width: 30%;
}

.input-botton, .input-botton:focus {
    color: #0070C9;
    outline: none;
}

.input-botton-cancel, .input-botton-cancel:focus {
    color: #d11a2a;
    outline: none;
}

.profile-img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 20px;
}