* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.central-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 10%;
}

.portfolio-div {
    display: flex;
    flex-direction: row;
    padding: 10%;
    background-color: lightgray;
    background-image: #86868B
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    bottom: 0;
    padding-left: 10px;
    background-color: whitesmoke;
}

footer p {
    color: #86868B;
}

a {
    color: #06c;
    outline: none;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.portfolio-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }
  